svg text.data-points {
  font-family: sans-serif;
  font-size: 10px;
  fill: "#333";
}

.axis path,
.axis line {
 fill: none;
 stroke: black;
 shape-rendering: crispEdges;
}
.axis text {
 font-family: sans-serif;
 font-size: 11px;
}
